@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat+Subrayada&family=Poppins:wght@200&display=swap');

li{
	list-style-type: none;
}

body {
	margin: 0;
	font-family: 'Inter', system-ui;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #e7f6ff;
}

*{
	font-family: 'Inter', system-ui;
}

.wrapper{

	background-color: #ffffff;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
	border-radius: 20px;
	max-width: 1080px;
	margin: 50px auto;
}

header{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #eaeaea;
	padding: 40px;

	.headerLeft{
		display: flex;
		align-items: center;

		img{
			margin-right: 15px;
		}

		h3,
		p {
			margin: 0;
			text-transform: uppercase;
		}

	}
	.headerRight{
		display: flex;
		gap: 30px;

		li{
			cursor: pointer;
		}
	}
}

.container{
	padding: 40px;

	.container-row{
		display: flex;
		align-items: center;
		margin-bottom: 40px;
		justify-content: space-between;

		h1{
			margin: 0;
		}
	}

	.card-flex{
		display: flex;
		flex-wrap: wrap;
		gap: 40px;

	.card{
		border: 1px solid #F3F3F3;
		padding: 20px;
		width: 178px;
		border-radius: 40px;
		margin: 0 0 30px 0;
		transition: box-shadow 0.2s ease-in-out, transform  0.2s ease-in-out;

		&:hover{
			box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
			transform: translateY(-5px);
		}

		img{
			display: block;
			margin-bottom: 10px;
		}

		h5{
			font-weight: 400;
			font-size: 14px;
		}

		.favorite{
			cursor: pointer;
		}

		.row{
			display: flex;
			justify-content: space-between;
			align-items: center;


			.row-info{
				display: flex;
				flex-direction: column;
			};
		};
	};

	}
}



.button{
	background-color: #ffffff;
	border: 1px solid #f2f2f2;
	box-sizing: border-box;
	border-radius: 8px;
	height: 32px;
	width: 32px;
	cursor: pointer;
	align-items: flex-end;
	justify-content: center;
	padding: 3px;
}

.search-block{
	border: 1px solid #f3f3f3;
	display: flex;
	align-items: center;
	border-radius: 10px;
	padding: 0 15px;

	input{
		border: 0;
		padding: 13px;
		font-size: 16px;
		width: 200px;
	}
}

.aside-shadow{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 1;

	.aside{
		position: absolute;
		width: 420px;
		right: 0;
		height: 100%;
		background-color: white;
		box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.01);
		padding: 0 30px;
		display: flex;
		flex-direction: column;
	
		h2{
			margin:10px;
		}
	
		button{
			height: 55px;
			background: #9dd558;
			border-radius: 18px;
			cursor: pointer;
			border: 0;
			font-size: 16px;
			color: white;
			font-weight: 500;
			margin: 30px 0;
			cursor: pointer;
			transition: background 0.2s ease-in-out;
	
			&:hover{
				background: lighten($color: #9dd558, $amount: 5%);
			}
			&:active{
				background: darken($color: #9dd558, $amount: 5%);
			}
		}
		.aside-close{
			display: flex;
			justify-content: space-between;
			align-items: center;

			img{
				cursor: pointer;
			}
		}
		.box{
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			justify-content: center;
			gap: 10px;

			img{
				margin: auto;
			}
			h2{
				margin: auto;
			}
		}
	}
}

.cartItem{
	border: 1px solid #f3f3f3;
	border-radius: 20px;
	display: grid;
	 grid-template-columns: 130px 209px 0px;
	align-items: center;
	padding-bottom: 15px;
	margin-bottom: 20px;

	p{
		margin-bottom: 10px;
		font-size: 16px;
	}

	b{
		font-size: 14px;
	}

	img{
		margin: 20px;
	}

	.removebtn{
		opacity: 0.5;
		cursor: pointer;
		transition: opacity 0.15s ease-in-out;

		&:hover{
			opacity: 1;
		}
	}
}
.items{
	flex: 1;
	overflow-x: auto;
}
.items-li{
	display: flex;
	align-items: flex-end;

	div{
		flex: 1;
		height: 1px;
		border-bottom: 1px dashed #dfdfdf;
		position: relative;
		top: -4px;
		margin: 0 7px;
	}
}